:root {
  --base-color: #FF0A0A;
  --base-opacity-color: rgba(255, 17, 17, 0.1);
  --dark-color: rgba(0, 0, 0, 0.8);
  --font-stack: 'Poppins', sans-serif;
  --font-heading-size-xl: 63px;
  --font-heading-size-lg: 36px;
  --font-body-size-lg: 18px;
  --font-body-size-md: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-stack);
  color: var(--dark-color);
}

p {
  line-height: 30px;
}

/* Utilities */

.btn {
  background: var(--base-color);
  color: #fff;
  border-radius: 15px;
}

.base-text {
  color: var(--base-color) !important;
}

.dark-text {
  color: var(--dark-color) !important;
}

.underline {
  margin: 1rem auto;
  height: 4px;
  width: 100px;
  display: block;
  background: var(--base-color);
}

/* Nav */

nav {
  background: var(--base-opacity-color);
}

/* Hero */

#hero {
  min-height: 409px;
  background: var(--base-opacity-color);
}

#hero h1, #hero .cta-heading, #sliders h3 {
  color: var(--base-color);
}

#hero h1 {
  font-weight: 500;
  font-size: var(--font-heading-size-xl);
}

#hero .lead {
  font-size: var(--font-body-size-lg);
}

#hero form input[type=email] {
  width: 350px;
  border-radius: 15px;
}

/* Section - Features */

#features ul {
  list-style: none;
}

#features ul li {
  margin-bottom: .5rem;
}

#features ul li img {
  padding-right: 1rem;
}

/* Section - Sliders */

#sliders {
  background: var(--base-opacity-color);
}

#sliders h3 {
  margin-bottom: 1.5rem;
}

#sliders .row {
  min-height: 590px;
}

.carousel-indicators li {
  margin-top: 2rem !important;
  background-color: var(--dark-color);
}

/* Section - Benefits */

#benefits img {
  margin-bottom: 1.5rem;
}

#benefits .col-md {
  padding: 3rem 2rem;
  margin-left: 2.5rem;
  border: 1px solid #ddd;
}

#benefits .col-md:first-child {
  margin-left: 0;
}

/* footer */

footer {
  height: 596px;
  background: url('../img/bg.png') left bottom no-repeat, var(--base-opacity-color);
}

footer .container {
  margin-left: 18rem;
}

footer p {
  margin-bottom: 2rem;
  font-size: 36px;
}

footer form input#email.form-control {
  width: 570px;
  border-radius: 15px;
  border: 1px solid #333;
  background: none;
}

footer .social-media {
  margin-top: 10rem;
  list-style: none;
}

footer .social-media li {
  margin-left: 3.5rem;
}

footer .social-media li:first-child {
  margin-left: 0;
}